@charset "UTF-8";

html {height: 101%; margin: 0; padding: 0; min-height: 101%;}
body { margin: 0px; padding:0px; background: #fff; font-size: 100%; height: 100%; position: relative; overflow-x: hidden; background: #fff; min-height: 101%;}

div:after, form:after, ul:after, input:after, section:after, article:after, header:after, footer:after, nav:after, aside:after, hgroup:after { clear: both; content: ""; display: block; height: 0; visibility: hidden;}
section, article, header, footer, nav, aside, hgroup { display: block; }

@font-face { font-family: "Poppins-Regular"; src: url("Fonts/Poppins-Regular.ttf");}
@font-face { font-family: "Poppins-Medium"; src: url("Fonts/Poppins-Medium.ttf");}
@font-face { font-family: "Poppins-Bold"; src: url("Fonts/Poppins-bold.ttf");}

h1, h2, h3, h4 {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Medium"; color: white; }
input, textarea { font-family: "Poppins-Regular"; }
p, a, li {margin: 0; padding: 0 0 10px 0; font-family: "Poppins-Regular";}
a { text-decoration: none; }
input, textarea, select, button { outline: none;}
.clear {clear: both;}

.sidebar { width: 200px; height: 75px; background: #333; position: fixed; top: 50%; left: -210px; transform: translateY(-50%); z-index: 200; box-shadow: 4px 0 7px -2px #000; border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; }
.sidebar .slide { width: 50px; height: 75px; background: #333 url("Icons/chevron-circle-right-solid.png") no-repeat center center; background-size: 30px; position: fixed; top: 50%; left: 210px; transform: translateY(-50%); z-index: 99; box-shadow: 4px 0 7px -2px #000; border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000; cursor: pointer; }

.sidebar.open { height: 100%; overflow: visible; left: 0;}
.sidebar.open .slide {left: 200px; background: #333 url("Icons/chevron-circle-left-solid.png") no-repeat center center; background-size: 30px;}
.sidebar.open .side { padding: 20px; box-sizing: border-box; text-align: center; display: block; height: 100%; overflow-y: auto;}
.sidebar.open .side h4 { color: #fff; padding: 0 0 40px 0; }
.sidebar.open .side .nav { width: 80%; margin: 0 auto; padding:0; }
.sidebar.open .side .nav .theme { display: block; margin-bottom: 20px; cursor: pointer; opacity: 0.3; background: none;}
.sidebar.open .side .nav .theme:hover { opacity: 1;}
.sidebar.open .side .nav .theme.active { opacity: 1;}

.sidebar.open .side .nav .image { background: #f2f2f2; width: 100%; height: 100px; }
.sidebar.open .side .nav .styleone .image { background: url("Images/firsttemplate.png") no-repeat center top; background-size: 100%; }
.sidebar.open .side .nav .styletwo .image { background: url("Images/twotemplate.png") no-repeat center top; background-size: 100%; }
.sidebar.open .side .nav .stylethree .image { background: url("Images/thirdtemplate.png") no-repeat center top; background-size: 100%; }
.sidebar.open .side .nav .stylefour .image { background: url("Images/fourthtemplate.png") no-repeat center top; background-size: 100%; }
.sidebar.open .side .nav p { color: #fff; padding: 0;}

.sidebar .side::-webkit-scrollbar { width: 6px; }
.sidebar .side::-webkit-scrollbar-track { background: transparent; }
.sidebar .side::-webkit-scrollbar-thumb { background-color: #f2f2f2; border: 3px solid #f2f2f2; }

.template { display: none; }
.template.active { display: block; }

/* Templates */ 

.styleone .header-wrap {padding: 0 20px;}
.styleone .header-wrap .header { width: 100%; max-width: 1180px; margin: 0 auto; padding: 40px 0; position: relative;}
.styleone .header-wrap .header .logo { left: 0; top: 50%; transform: translateY(-50%); position: absolute; width: 303px; height: 116px; background: url("Images/logo.png") no-repeat center center; background-size: 50%; padding: 0;}
.styleone .header-wrap .header .nav { float: right; }
.styleone .header-wrap .header .nav ul { margin: 0; }
.styleone .header-wrap .header .nav ul li {list-style-type: none; display: inline-block; overflow: hidden; margin: 0 0 0 15px; line-height: 100%; vertical-align: middle; padding: 0;} 
.styleone .header-wrap .header .nav ul li a { display: inline-block; cursor: pointer; font-weight: 700; position: relative; padding: 0 0 6px 0;}
.styleone .header-wrap .header .nav ul li a:before{content: ""; visibility: hidden; display: block; width: 100%; height: 2px; background: #00574d; position: absolute; bottom: 0; left: -100%; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease;}
.styleone .header-wrap .header .nav ul li:hover a:before {left: 0; visibility: visible;}

.styleone .banners { width: 100%; position: relative; }
.styleone .banners .banner { width: 100%; height: 400px; outline: none; }
.styleone .banners .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.styleone .banners .overlay .intro  { position: absolute; bottom: 0 ; left: 0; padding: 20px; background: rgba(0,0,0,0.6);  }
.styleone .banners .overlay .intro h1 { color: #fff; font-size: 300%; line-height: 100%; padding: 0 0 5px 0; }
.styleone .banners .overlay .intro h2 { color: #fff; padding: 0; font-size: 200%; line-height: 100%; }
.styleone .banners .slick-dots { top: 10px; position: absolute; left: 50%; z-index: 20; padding: 0; margin: 0 auto; text-align: center; display: block!important;  right: 0; }
.styleone .banners .slick-dots li { float: left; width: 15px; height: 15px; line-height: 15px; margin: 0 5px 0 0; padding: 0; list-style: none; }
.styleone .banners .slick-dots li button { width: 15px; height: 15px; border: none; border-radius: 50%; background: rgba(255,255,255,0.3); margin: 0; padding: 0; cursor: pointer; text-indent: -9999px; }
.styleone .banners .slick-dots li.slick-active button { background: rgba(255,255,255,0.6); }

.styleone .content-wrap { padding: 0 20px; background: #f2f2f2;}
.styleone .content-wrap.white { background: #ffffff;}
.styleone .content-wrap .content { padding: 40px 0; max-width: 1180px; width: 100%; margin: 0 auto; }
.styleone .content-wrap .content .intro { margin: 0 0 40px 0; }
.styleone .content-wrap .content .intro h4 { font-size: 120%; padding: 0 0 20px 0; color: #000000; text-align: center; }
.styleone .content-wrap .content .intro p { text-align: center; }
.styleone .content-wrap .content .boxes { width: 102%; margin-left: -2%; }
.styleone .content-wrap .content .boxes .box { width: 31.33333%; margin: 0 0 2% 2%; float: left; padding-bottom: 20%; position: relative; }
.styleone .content-wrap .content .boxes .box .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); padding: 0; cursor: pointer; } 
.styleone .content-wrap .content .boxes .box .overlay:hover { background: rgba(0,0,0,0.3); }
.styleone .content-wrap .content .boxes .box .overlay p { top: 50%; left: 50%; transform: translate(-50%,-50%); position: absolute; color: #ffffff; font-size: 120%; font-weight: 700; width: 80%; text-align: center; }

.styleone .content-wrap .casestudies .casestudy { margin: 0 0 40px 0; }
.styleone .content-wrap .casestudies .casestudy .left { float: left; width: 40%; }
.styleone .content-wrap .casestudies .casestudy .left .framedimageblock { position: relative; padding-bottom: 10%; }
.styleone .content-wrap .casestudies .casestudy .left .framedimageblock img { float: right; width: 90%; box-sizing: border-box; position: relative; z-index: 2; border-left: 30px solid #ffffff; border-bottom: 30px solid #ffffff; }
.styleone .content-wrap .casestudies .casestudy .left .framedimageblock .square { position: absolute; bottom: 0; left: 0; background: #333; width: 90%; height: 0; padding-bottom: 67%;}
.styleone .content-wrap .casestudies .casestudy .right { float: right; width: 52%; }
.styleone .content-wrap .casestudies .casestudy .right h3 { color: #333; }

.styleone .content-wrap .casestudies .casestudy.flip .left { float: right; }
.styleone .content-wrap .casestudies .casestudy.flip .left .framedimageblock img { float: left; border-left: none; border-right: 30px solid #ffffff; }
.styleone .content-wrap .casestudies .casestudy.flip .left .framedimageblock .square { right: 0; left: auto; }
.styleone .content-wrap .casestudies .casestudy.flip .right { float: left; }

.styleone .footer-wrap { padding: 0 20px; background: #f2f2f2; }
.styleone .footer-wrap .footer { padding: 40px 0; max-width: 1180px; width: 100%; margin: 0 auto; }
.styleone .footer-wrap .footer .left { float: left; width: 50%; position: relative;}
.styleone .footer-wrap .footer .left .image { float: left; width: 40%; margin-right: 10%;}
.styleone .footer-wrap .footer .left .image img {border-radius: 50%; width: 100%; border: #333 2px solid; box-sizing: border-box;}
.styleone .footer-wrap .footer .left .outro { position: absolute; top: 50%; transform: translateY(-50%); left: 50%; }
.styleone .footer-wrap .footer .right { float: right; width: 40%; }
.styleone .footer-wrap .footer .right .footer-nav { float:left; width: 50%; }
.styleone .footer-wrap .footer .right .footer-nav ul li a { cursor: pointer; }
.styleone .footer-wrap .footer .right .footer-nav ul li a:hover { text-decoration: underline; }
.styleone .footer-wrap .footer .right .socials { float:left; width: 50%; }
.styleone .footer-wrap .footer .right .socials p.blockbutton { padding: 0; text-align: center; margin: 0 0 10px 0; }
.styleone .footer-wrap .footer .right .socials p.blockbutton a { display: block; background: rgba(51,51,51,1); color: #ffff; padding: 8px 16px; cursor: pointer;}
.styleone .footer-wrap .footer .right .socials p.blockbutton a:hover { background: rgba(51,51,51,0.8); }
.styleone .footer-wrap .footer .right .socials p.social { font-size: 120%; color: #333; text-align: center; }
.styleone .footer-wrap .footer .right .socials p.social span { padding-right: 10px; }
.styleone .footer-wrap .footer .right .socials p.social span i { cursor: pointer; }
.styleone .footer-wrap .footer .right .socials p.social span i:hover { opacity: 0.8; }

.styleone .bottom-footer-wrap { padding: 0 20px; background: #333;}
.styleone .bottom-footer-wrap .bottom-footer { padding: 10px 0; }
.styleone .bottom-footer-wrap .bottom-footer p { padding: 0; text-align: center; color: #fff; }
.styleone .bottom-footer-wrap .bottom-footer p a { text-decoration: none; color: #fff; }
.styleone .bottom-footer-wrap .bottom-footer p a:hover { text-decoration: underline;  }

/* New template */

.styletwo { position: relative; width: 100%; height: 100%;}
.styletwo .slide{ position: relative; width: 100%; height: 100%; max-height: 1200px;}
.styletwo .images { width: 100%; height: 100%; background: #333; max-height: 1200px; }
.styletwo .images-container { width: 100%; height: 100%; }
.styletwo .image { width: 100%; height: 100%; }

.styletwo .email-wrap { position: absolute; top: 20px; left: 0; width: 100%; }
.styletwo .email-wrap .email { position: absolute; width: 100%; max-width: 900px; left: 50%; transform: translateX(-50%); }
.styletwo .email-wrap .email p { padding: 0; color: #fff; text-align: right; }
.styletwo .email-wrap .email p a { text-decoration: none; color: #fff; } 
.styletwo .email-wrap .email p a:hover { text-decoration: none; color: #fff; cursor: pointer; } 
.styletwo .email-wrap .email p img { width: 10px; height: 10px; padding: 0 5px 0 0;}

.styletwo .slide .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); }
.styletwo .overlay .intro { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); max-width: 900px; width: 100%; }
.styletwo .overlay .intro .left { float: left; }
.styletwo .overlay .intro .left img { width: 250px; height: 250px; border-radius: 50%; }
.styletwo .overlay .intro .right { position: absolute; top: 40%; transform: translateY(-40%); left: 300px;  }
.styletwo .overlay .intro .right h1 { color: #fff; font-size: 300%; line-height: 100%; padding: 0 0 5px 0;}
.styletwo .overlay .intro .right h2 { padding: 0; font-size: 200%; line-height: 100%; }
.styletwo .overlay .intro .right hr { color: #fff;}
.styletwo .overlay .intro .right ul { float: left; margin: 0; padding: 0; }
.styletwo .overlay .intro .right ul li { display: inline-block; }
.styletwo .overlay .intro .right ul li span { padding: 0 10px;  }
.styletwo .overlay .intro .right ul li a { color: #fff; cursor: pointer;}
.styletwo .overlay .intro .right ul li:hover a { opacity: 0.7; }
.styletwo .overlay .intro .right ul li:hover a span { opacity: 1; }

.styletwo .overlay .arrow { position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%); z-index: 10;}
.styletwo .overlay .arrow img { width: 40px; height: 40px; }
.styletwo .overlay .wave { width: 100%; height: 200px; position: absolute; bottom: 0; left: 0; }
.bounce { -moz-animation: bounce 2s infinite; -webkit-animation: bounce 2s infinite; animation: bounce 2s infinite; }

.styletwo .background { background: #333333 url("Images/Liquid-Cheese.png") no-repeat center center; background-size: cover; }
.styletwo .content-wrap { padding: 0 20px; box-sizing: border-box; width: 100%; /*background: #333333; */ }
.styletwo .content-wrap .content { padding: 80px 0; margin: 0 auto; width: 100%; max-width: 1080px; }
.styletwo .content-wrap.nopadding .content { padding: 0px; }
.styletwo .content-wrap .content .about { margin-bottom: 40px; }
.styletwo .content-wrap .content .about .left { width: 45%; float: left; }
.styletwo .content-wrap .content .about .left h2 { font-size: 250%; }
.styletwo .content-wrap .content .about .left h2 span.green { color: #67d667; }
.styletwo .content-wrap .content .about .right { float: left; width: 45%; margin-left: 10%; }
.styletwo .content-wrap .content .about .right p { color: #fff; }
.styletwo .content-wrap .content .fullwidthimage { width: 100%; height: 300px; border-radius: 10px; -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); }

.styletwo .content-wrap .content .heading { text-align: center; padding: 0 0 40px 0; }
.styletwo .content-wrap .content .heading h1 { font-size: 250%; padding: 0; }
.styletwo .content-wrap .content .heading p { color: #ffffff; font-size: 120%;}
.styletwo .content-wrap .content .heading p.blockbutton { padding: 0; display: inline-block; }
.styletwo .content-wrap .content .heading p.blockbutton a { padding: 8px 24px; display: block; color: #fff; text-decoration: none; background: #636363; cursor: pointer; border-radius: 10px; -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); }
.styletwo .content-wrap .content .heading p.blockbutton a:hover { opacity: 0.6; }

.styletwo .content-wrap.portfolio .content .boxes { margin-left: -2%; width: 102%; }
.styletwo .content-wrap.portfolio .content .boxes .box { width: 31.3333%; float: left; margin: 0 0 2% 2%; height: 250px; border-radius: 10px; border: 1px solid #636363; box-sizing: border-box; position: relative; -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);}
.styletwo .content-wrap.portfolio .content .boxes .box .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px; }
.styletwo .content-wrap.portfolio .content .boxes .box:hover .overlay {  }

.styletwo .content-wrap.contact .content .threes { width: 102%; margin: 0 0 2% -2%; }
.styletwo .content-wrap.contact .content .three { width: 31.33333%; margin: 0 0 2% 2%; float: left; text-align: center; }
.styletwo .content-wrap.contact .content .three p.icon { font-size: 200%; color: #67d667; font-weight: 300; }
.styletwo .content-wrap.contact .content .three p { padding: 0; color: #fff; font-weight: 700; }
.styletwo .content-wrap.contact .content .three p.grey { color: #909090; }
.styletwo .content-wrap.contact .content form { width: 100%; max-width: 840px; margin: 0 auto; }
.styletwo .content-wrap.contact .content form .input { width: 100%; margin-bottom: 40px; }
.styletwo .content-wrap.contact .content form .input input{ width: 100%; padding: 8px 16px; box-sizing: border-box; border-radius: 5px; border: none; }
.styletwo .content-wrap.contact .content form .input textarea { width: 100%; resize: none; padding: 8px 16px; box-sizing: border-box; height: 160px; border-radius: 5px; border: none; }
.styletwo .content-wrap.contact .content form .input.half { width: calc(50% - 10px); float: left; }
.styletwo .content-wrap.contact .content form .input.half:nth-child(2) { margin-left: 20px; }

.styletwo .content-wrap.contact .content form .input input[name="submit"]{ display: inline-block; width: auto; margin: 0 auto; font-size: 120%; border: none; padding: 8px 24px; display: block; color: #fff; text-decoration: none; background: #636363; cursor: pointer; border-radius: 10px; -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75); box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);}
.styletwo .content-wrap.contact .content form .input input[name="submit"]:hover { opacity: 0.6; }

.styletwo .footer-wrap { padding: 0 20px; box-sizing: border-box; width: 100%; /*background: #333333;*/ }
.styletwo .footer-wrap .footer {  padding: 20px 0; margin: 0 auto; width: 100%; max-width: 980px; border-top: 2px solid #636363; }
.styletwo .footer-wrap .footer .socials { float: right; text-align: right; }
.styletwo .footer-wrap .footer .socials p { color: #fff; padding: 0 0 5px 0;}
.styletwo .footer-wrap .footer .socials p span { padding: 0 10px; cursor: pointer; }
.styletwo .footer-wrap .footer .socials p span:hover { opacity: 0.5; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* New template */

.stylethree .header-wrap { padding: 0 40px; border-bottom: 2px solid #f2f2f2; background: #fff; width: 100%; z-index: 50; box-sizing: border-box; }
.stylethree .header-wrap.stick { position: fixed; }
.stylethree .header-wrap.stick .header { padding: 20px 0; }
.stylethree .header-wrap.stick .header .logo { width: 200px; height: 43px;  }
.stylethree .header-wrap .header { width: 100%; padding: 40px 0; margin: 0 auto; position: relative;}
.stylethree .header-wrap .header .logo {left: 0; top: 50%; transform: translateY(-50%); position: absolute; width: 303px; height: 116px; background: url("Images/logo.png") no-repeat center center; background-size: 50%; padding: 0; }
.stylethree .header-wrap .header .nav { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.stylethree .header-wrap .header .nav ul { margin: 0; padding: 0; }
.stylethree .header-wrap .header .nav li { display: inline-block; margin: 0 0 0 20px; overflow: hidden; vertical-align: middle; position: relative; padding: 0;}
.stylethree .header-wrap .header .nav li a { font-size: 100%; font-weight: 700; cursor: pointer; text-transform: uppercase; position: relative; line-height: 100%; padding: 0 0 6px 0; display: inline-block;}
.stylethree .header-wrap .header .nav ul li a:before{ content: ""; visibility: hidden; display: block; width: 100%; height: 2px; background: #00574d; position: absolute; bottom: 0; left: -100%; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; }
.stylethree .header-wrap .header .nav ul li:hover a:before { left: 0; visibility: visible; }
.stylethree .header-wrap .header .socials { float: right; text-align: right; }
.stylethree .header-wrap .header .socials p { color: #333; padding: 0 0 5px 0; font-size: 100%; }
.stylethree .header-wrap .header .socials p span { padding: 0 10px; cursor: pointer; }
.stylethree .header-wrap .header .socials p span:hover { opacity: 0.5; }

.stylethree .banners { padding: 10px 0 0 0; background: #f2f2f2; }
.stylethree .banners .left { width: 50%; float: left; }
.stylethree .banners .left .main { width: 100%; height: 500px; background: #ef8c8c; position: relative;}
.stylethree .banners .right { width: 50%; float: left; padding: 0; box-sizing: border-box; }
.stylethree .banners .right .box { width: 50%; float: left; background: #8a8aef; height: 250px; border-left: 10px solid #f2f2f2; box-sizing: border-box; position: relative; }
.stylethree .banners .right .box.green { background: #85daaf; }
.stylethree .banners .right .box.top { border-bottom: 10px solid #f2f2f2; }

.stylethree .banners .text { position: absolute; bottom: 10%; left: 0; box-sizing: border-box; padding: 20px; max-width: 75%; }
.stylethree .banners .text h2 { color: #000; padding: 0; line-height: 100%; }
.stylethree .banners .main .text h2 { font-size: 200%; } 
.stylethree .banners .text hr { width: 25%; float: left; border: 1px solid #00574d; }
.stylethree .banners .text p { padding: 0; color: #333; line-height: 100%; }
.stylethree .banners .main .text p { font-size: 120%; }

.stylethree .content-wrap { padding: 0 20px; }
.stylethree .content-wrap.grey { background: #f2f2f2; }
.stylethree .content-wrap .content { width: 100%; max-width: 1080px; margin: 0 auto; padding: 60px 0; }
.stylethree .content-wrap .content.lessbottompadding { padding: 60px 0 20px 0; }
.stylethree .content-wrap .content .intro { margin: 0 0 80px 0; }
.stylethree .content-wrap .content .intro .left { width: 45%; float: left; margin-right: 5%; }
.stylethree .content-wrap .content .intro .left .image { width: 100%; position: relative;}
.stylethree .content-wrap .content .intro .left .image .image-container { width: 90%; float: right; overflow: hidden; } 
.stylethree .content-wrap .content .intro .left .image .image-container img { width: 100%; transition: transform .2s; overflow: hidden; height: auto; } 
.stylethree .content-wrap .content .intro .left .image .image-container:hover img { transform: scale(1.5); }
.stylethree .content-wrap .content .intro .left .image .line { position: absolute; top: 0; left: 0; width: 5%; height: 25%; background: #85daaf; }
.stylethree .content-wrap .content .intro .left .image .line2 { position: absolute; top: calc(25% + 15px);; left: 0; width: 5%; height: 25%; background: #8a8aef; }
.stylethree .content-wrap .content .intro .left .image .image-two { width: 45%; position: absolute; top: 70%; left: -10%; overflow: hidden;  }
.stylethree .content-wrap .content .intro .left .image .image-two img { width: 100%; transition: transform .2s; overflow: hidden; height: auto; }
.stylethree .content-wrap .content .intro .left .image .image-two:hover img { transform: scale(1.5); }

.stylethree .content-wrap .content .intro .right { width: 50%; float: left; }
.stylethree .content-wrap .content .intro .right h3 { color: #333; }
.stylethree .content-wrap .content .intro .right p.text { padding: 0 0 30px 0; }
.stylethree .content-wrap .content .intro .right .list {float: left; width: 50%; }
.stylethree .content-wrap .content .intro .right .list ul { margin: 0; padding: 0;}
.stylethree .content-wrap .content .intro .right .list ul li {padding: 0 10px; list-style-type: none; margin: 0 0 5px 0;}
.stylethree .content-wrap .content .intro .right .list ul li span { padding: 0 10px; }
.stylethree .content-wrap .content .intro .right .featurebox { width: 50%; float: left; margin: 0 0 20px 0;}
.stylethree .content-wrap .content .intro .right .featurebox .box { width: 130px; height: 130px; background: #ef8c8c; margin: 0 auto; position: relative; }
.stylethree .content-wrap .content .intro .right .featurebox .box .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.stylethree .content-wrap .content .intro .right .featurebox .box .overlay p { padding: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #fff;}
.stylethree .content-wrap .content .intro .right .featurebox .box .overlay p span { font-size: 200%; font-weight: 700;}
.stylethree .content-wrap .content .intro .right .featurebox .box .square { position: absolute; top: 0; left: 0; width: 15px; height: 15px; background: #00574d; }
.stylethree .content-wrap .content .intro .right p.blockbutton { padding: 0; text-align: center;}
.stylethree .content-wrap .content .intro .right p.blockbutton a { display: inline-block; padding: 12px 32px; background: #f2f2f2; margin: 0 auto; text-transform: uppercase; font-size: 90%; color: #333; font-weight: 700; position: relative;}
.stylethree .content-wrap .content .intro .right p.blockbutton a span { width: 10px; height: 10px; background: #00574d; position: absolute; top: 0; left: 0; }

.stylethree .content-wrap .content .heading { text-align: center; padding: 0 0 20px 0; }
.stylethree .content-wrap .content .heading h2 { font-size: 200%; color: #333; padding: 0 0 5px 0; }
.stylethree .content-wrap .content .heading p { padding: 0 0 20px 0; }
.stylethree .content-wrap .content .boxes { width: 102%; margin-left: -2%; } 
.stylethree .content-wrap .content .boxes .box { float: left; width: 31.3333%; height: 400px; background: #f2f2f2; margin: 0 0 2% 2%; position: relative; }
.stylethree .content-wrap .content .boxes .box .overlay { position: absolute; bottom: 0; left: 0; width: 100%; height: auto; background: rgba(255,255,255,0.8); padding: 20px; box-sizing: border-box; }
.stylethree .content-wrap .content .boxes .box .overlay p { padding: 0; }

.stylethree .gallery-wrap { width: 100%; }
.stylethree .gallery-wrap .image { width: 16.66666666666667%; float: left; height: 245px; outline: none; }

.stylethree .footer-wrap { padding: 0 20px; background: #f2f2f2; }
.stylethree .footer-wrap .footer { width: 100%; max-width: 1080px; margin: 0 auto; padding: 80px 0; }
.stylethree .footer-wrap .footer .about { float: left; width: 35%; }
.stylethree .footer-wrap .footer .about h2 { color: #333; position: relative; line-height: 100%; display: inline-block; padding: 0; margin: 0 0 20px 0;}
.stylethree .footer-wrap .footer .about h2:before{ content: ""; display: block; width: 50%; height: 2px; background: #00574d; position: absolute; bottom: -5px; left: 0; }
.stylethree .footer-wrap .footer .about p { font-size: 90%; }

.stylethree .footer-wrap .footer .form { float: right; width: 60%; }
.stylethree .footer-wrap .footer .form h2{ color: #333; position: relative; line-height: 100%; display: inline-block; padding: 0; margin: 0 0 20px 0; }
.stylethree .footer-wrap .footer .form h2:before{ content: ""; display: block; width: 50%; height: 2px; background: #00574d; position: absolute; bottom: -5px; left: 0; }

.stylethree .footer-wrap .footer .form .row { width: 100%; } 
.stylethree .footer-wrap .footer .form .row.halves { width: 102%; margin-left: -2%; }
.stylethree .footer-wrap .footer .form .row.halves .input { width: 48%; float: left; margin: 0 0 2% 2%; }
.stylethree .footer-wrap .footer .form .row .input input{ width: 100%; padding: 10px 20px; box-sizing: border-box; color: #444444; }
.stylethree .footer-wrap .footer .form .row .input input:placeholder { color: #444444; }
.stylethree .footer-wrap .footer .form .row .input textarea { width: 100%; font-family: "Poppins-Regular"; color: #444444; padding: 10px 20px; box-sizing: border-box; min-height: 120px;}
.stylethree .footer-wrap .footer .form .row .input textarea::placeholder { color: #444; }
.stylethree .footer-wrap .footer .form .row .input textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #444;}
.stylethree .footer-wrap .footer .form .row .input textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #444; opacity:  1;}
.stylethree .footer-wrap .footer .form .row .input textarea::-moz-placeholder { /* Mozilla Firefox 19+ */color: #444; opacity: 1; }
.stylethree .footer-wrap .footer .form .row .input textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #444;}
.stylethree .footer-wrap .footer .form .row .input textarea::-ms-input-placeholder { /* Microsoft Edge */ color: #444;}
.stylethree .footer-wrap .footer .form .row .input.submit input { cursor: pointer; }

.stylethree .bottom-footer-wrap { padding: 0 20px; background: #00574d; text-align: center;}
.stylethree .bottom-footer-wrap .bottom-footer { width: 100%; max-width: 1080px; margin: 0 auto; padding: 20px 0; }
.stylethree .bottom-footer-wrap .bottom-footer p { padding: 0; text-align: center; color: #fff; font-size: 90%;}
.stylethree .bottom-footer-wrap .bottom-footer p a { text-decoration: none; color: #fff; }
.stylethree .bottom-footer-wrap .bottom-footer p a:hover { text-decoration: underline;  }

/* New template */

.stylefour { background: #DFEFCA; }

.stylefour .header-wrap { padding: 0 20px; z-index: 100; width: 100%; box-sizing: border-box; transition: all .2s ease-in-out; }
.stylefour .header-wrap.stick { position: fixed; background: #ffffff; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
.stylefour .header-wrap .header { max-width: 1280px; width: 100%; margin: 0 auto; padding: 20px 0 30px 0; position: relative; }
.stylefour .header-wrap.stick .header { padding: 20px 0; }
.stylefour .header-wrap .header .left { float: left; width: 194px; transition: all .2s ease-in-out;}
.stylefour .header-wrap.stick .header .left { width: 100px; }
.stylefour .header-wrap .header .left a.logo { width: 100%; height: 72px; background: url("Images/logo.png") no-repeat center center; background-size: 100%; padding: 0; display: block;  transition: all .2s ease-in-out;}
.stylefour .header-wrap.stick .header .left a.logo { width: 100%; height: 41px; background: url("Images/logo.png") no-repeat center center; background-size: 100%; padding: 0; display: block; }
.stylefour .header-wrap .header .right { float: right; }
.stylefour .header-wrap .header .right .nav { position: absolute; top: 50%; transform: translateY(-50%); right: 0;  }
.stylefour .header-wrap .header .right .nav ul { margin: 0; padding: 0; }
.stylefour .header-wrap .header .right .nav ul li { display: inline-block; padding: 0; }
.stylefour .header-wrap .header .right .nav ul li a { display: inline-block; padding: 0 15px; color: #333333; text-transform: uppercase; font-weight: 700; }
.stylefour .header-wrap .header .right .nav ul li:hover a { color: #658E9C; }
.stylefour .header-wrap .header .right .nav ul li a.button { background: #658E9C; color: #ffffff; padding: 8px 24px; border-radius: 5px; margin: 0 0 0 10px; }

.stylefour .content-wrap { padding: 0 20px; background: #ffffff; position: relative; }
.stylefour .content-wrap.morepadding .content { padding: 60px 0; }
.stylefour .content-wrap.lightgreen { background: #DFEFCA }
.stylefour .content-wrap .content { max-width: 1280px; width: 100%; margin: 0 auto; padding: 40px 0; position: relative; }
.stylefour .content-wrap .content .intro { padding: 80px 0 120px 0; }
.stylefour .content-wrap .content .intro .left { float: left; width: 50%; }
.stylefour .content-wrap .content .intro .left h2 { color: #333333; font-size: 210%; line-height: 120%; }
.stylefour .content-wrap .content .intro .left p { color: #333333; font-size: 110%; padding: 0 0 20px 0;}
.stylefour .content-wrap .content .intro .left p.blockbutton { display: inline-block; }
.stylefour .content-wrap .content .intro .left p.blockbutton a { padding: 8px 24px; background: #658E9C; color: #ffffff; border-radius: 5px; font-weight: 700; text-transform: uppercase; }
.stylefour .content-wrap .content .intro .right { float: right; width: 45%; }
.stylefour .content-wrap .content .intro .right .image { width: 100%; height: 350px; position: relative; border-radius: 5px; margin-top: -40px; }
.stylefour .content-wrap .content .intro .right .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; border-radius: 5px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

.stylefour .content-wrap.clippath:before { clip-path: polygon(100% 80%, 0% 100%, 100% 100%); display: block; visibility: visible; content: ""; position: absolute; bottom: 0; left: 0; background: #ffffff; width: 100%; height: 100%; }

.stylefour .boxes { width: 104%; margin-left: -4%; margin-top: -120px; position: relative; }
.stylefour .boxes .box { width: 29.3333%; float: left; margin: 0 0 2% 4%; background: #ffffff; text-align: center; border-radius: 5px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 30px 20px; box-sizing: border-box; }
.stylefour .boxes .box h2 { color: #333333; position: relative; padding: 0 0 40px 0; }
.stylefour .boxes .box h2:before { position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); width: 50%; height: 6px; visibility: visible; content: ''; background: #DFEFCA; border-radius: 5px; }

.stylefour .projects .project { position: relative; background: #658E9C; }
.stylefour .projects .project .images { position: absolute; top: 0; right: 0; width: 50%; height: 100%; object-fit: cover; }
.stylefour .projects .project .image { position: absolute; top: 0; right: 0; width: 100%; height: 100%; object-fit: cover;}
.stylefour .projects .project .text { width: 50%; padding: 80px 60px 80px 50px; box-sizing: border-box; }
.stylefour .projects .project .text .inner { max-width: 535px; width: 100%; float: right; }
.stylefour .projects .project .text .inner .block { max-width: 400px; }
.stylefour .projects .project .text .inner .block h2 {  }
.stylefour .projects .project .text .inner .block p { color: #ffffff; }
.stylefour .projects .project .text .inner .block p.blockbutton { display: inline-block;	 }
.stylefour .projects .project .text .inner .block p.blockbutton a { display: block; padding: 8px 24px; box-sizing: border-box; background: #ffffff; color: #658E9C; text-transform: uppercase; font-weight: 700; border-radius: 5px; }

.stylefour .projects .project.p2 .text, .stylefour .projects .project.p2 .text .inner .block { float: right; }
.stylefour .projects .project.p2 .text .inner { float: left; }
.stylefour .projects .project.p2 .images { right: auto; left: 0; }

.stylefour .blogsection h2 { color: #333333; font-size: 250%; padding-right: 170px; box-sizing: border-box; }
.stylefour .blogsection p.blockbutton { display: inline-block; position: absolute; top: 70px; right: 0; }
.stylefour .blogsection p.blockbutton a { display: block; padding: 8px 24px; box-sizing: border-box; background: #658E9C; color: #ffffff; text-transform: uppercase; font-weight: 700; border-radius: 5px; }
.stylefour .blogs { width: 102%; margin-left: -2%; } 
.stylefour .blogs .blog { width: 31.3333%; float: left; margin: 0 0 2% 2%; } 
.stylefour .blogs .blog .image { width: 100%; height: 200px; position: relative; margin: 0 0 10px 0; } 
.stylefour .blogs .blog .image img { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; } 
.stylefour .blogs .blog .text h4 { color: #333333; font-size: 150%; } 

.stylefour .footer-wrap { padding: 0 20px; }
.stylefour .footer-wrap .footer { max-width: 1280px; width: 100%; margin: 0 auto; padding: 40px 0; position: relative;}
.stylefour .footer-wrap .footer .left { float: left; width: 194px; position: absolute; top: 50%; transform: translateY(-50%); left: 0; }
.stylefour .footer-wrap .footer .left a.logo { width: 100%; height: 72px; background: url("Images/logo.png") no-repeat center center; background-size: 100%; padding: 0; display: block;  }
.stylefour .footer-wrap .footer .right { float: right; width: 1000px; }
.stylefour .footer-wrap .footer .right p { font-size: 90%; color: #333333; }
.stylefour .footer-wrap .footer .right p:first-child { text-align: right; }
.stylefour .footer-wrap .footer .right p a { margin-left: 40px; font-weight: 700; }
.stylefour .footer-wrap .footer .right p span { font-size: 200% }

.stylefour .bottom-footer-wrap { padding: 0 20px; background: #758364; }
.stylefour .bottom-footer-wrap .bottom-footer { max-width: 1280px; width: 100%; margin: 0 auto; padding: 10px 0; position: relative; }
.stylefour .bottom-footer-wrap .bottom-footer p { padding: 0; text-align: center; color: #ffffff; font-size: 95%; }

/* New template */

/* #004D71 */

.stylefive .header-wrap { padding: 0 120px; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; z-index: 55;}
.stylefive .header-wrap .header { width: 100%; box-sizing: border-box; padding: 20px 0; position: relative; }
.stylefive .header-wrap .header .logo { float: left; width: 283px; }
.stylefive .header-wrap .header .logo a { display: block; width: 100%; height: 70px; background: #f2f2f2;  }

.stylefive .header-wrap .header .right { position: absolute; top: 50%; right: 0; transform: translateY(-50%); }
.stylefive .header-wrap .header .nav { float: right; }
.stylefive .header-wrap .header .nav ul { margin: 0; padding: 0; }
.stylefive .header-wrap .header .nav ul li { list-style: none; display: inline-block; font-size: 110%; padding: 0; }
.stylefive .header-wrap .header .nav ul li a { display: inline-block; text-transform: uppercase; font-weight: 700; padding: 0 20px; color: #f2f2f2; }

.stylefive .header-wrap .header p.blockbutton { padding: 0; float: right; position: relative; top: -8px; }
.stylefive .header-wrap .header p.blockbutton a { display: block; background: orange; padding: 8px 32px; color: #ffffff; text-transform: uppercase; font-weight: 700; border-radius: 5px; }

.stylefive .slides { width: 100%; height: 75vh; min-height: 650px; }
.stylefive .slides .fade { width: 100%; height: 100%; }
.stylefive .slides .slide { width: 100%; height: 100%; }
.stylefive .slides .slide .image { width: 100%; position: relative;	height: 100%; }
.stylefive .slides .slide .image img { position: 	absolute;	top: 0; left: 0; width:100%; height: 100%; object-fit: cover; }
.stylefive .slides .slide .image .arrow { display: block; background: url("Icons/arrow-down-solid-white.png") no-repeat	center center; background-size: 100%; width: 50px; height: 51px; z-index: 55; position: absolute;	bottom: 40px; left: 50%; transform: translateX(-50%); }
.stylefive .slides .slide .image .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,77,113,0.7); 
background: -moz-linear-gradient(180deg, rgba(0,77,113,0.7) 80%, rgba(0,77,113,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,77,113,0.7) 80%, rgba(0,77,113,1) 100%);
background: linear-gradient(180deg, rgba(0,77,113,0.7) 80%, rgba(0,77,113,1) 100%); }
.stylefive .slick-track, .stylefive .slick-list { height: 100%; }
.stylefive .slides .slide .content { position: absolute; top: 50%; transform: translateY(	-50%); left: 0; width: 100%; padding: 0 120px; box-sizing: border-box; }
.stylefive .slides .slide .content .left { width: 50%; float: left; }
.stylefive .slides .slide .content .left h2 { font-size: 400%; line-height: 110%; }
.stylefive .slides .slide .content .left p { color: #ffffff; font-size: 120%; padding: 0 0 20px 0; }
.stylefive .slides .slide .content .left p.blockbutton { display: inline-block; font-size: 100%; padding: 0; }
.stylefive .slides .slide .content .left p.blockbutton a { display: block; padding: 8px 32px; text-transform: uppercase; color: rgb(0,77,113); background: #ffffff; border-radius: 5px; font-weight: 700; }
.stylefive .slides .slide .content .right {  width: 45%; float: right; }
.stylefive .slides .slide .content .right .image { width: 100%; height: 300px; }
.stylefive .slides .slide .content .right .image img { border-radius: 10px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

.bounce { animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.stylefive .content-wrap { padding: 0 120px; }
.stylefive .content-wrap.greybackground {  background: #f2f2f2 url(images/background.png) no-repeat bottom left; background-size: 30%; }
.stylefive .content-wrap.grey { padding: 0 120px; background: #f2f2f2; }
.stylefive .content-wrap .content { padding: 80px 0; width: 100%; margin: 0 auto; }
.stylefive .content-wrap .content .left { float: left; width: 50%; }
.stylefive .content-wrap .content .left .boxes { width: 102%; margin-left: -2%; }
.stylefive .content-wrap .content .left .boxes .box { width: 48%; margin: 0 0 2% 2%; float: left; height: 250px; background: #f2f2f2; position: relative; }
.stylefive .content-wrap .content .left .boxes .box img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.stylefive .content-wrap .content .right { float: right; width: 45%; position: relative; }
.stylefive .content-wrap .content .right h2 { color: rgb(0,77,113); font-size: 300%; padding: 0 200px 0 0; }
.stylefive .content-wrap .content .right h4.price { font-size: 200%; position: absolute; top: 5px; right: 0; color: #333333; }
.stylefive .content-wrap .content .right p.notice { background: #f2f2f2; padding: 10px 20px; font-size: 90%; margin: 0 0 10px 0; font-weight: 700;}
.stylefive .content-wrap .content .right .sizes h4 { color: #333333; }
.stylefive .content-wrap .content .right .sizes .size { width: 40px; float: left; height: 40px; margin: 0 20px 20px 0; box-sizing: border-box; border: 2px solid #333333; position: relative; }
.stylefive .content-wrap .content .right .sizes .size:last-child { margin: 0 0 20px 0; }
.stylefive .content-wrap .content .right .sizes .size p { padding: 0; text-align: center;  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.stylefive .content-wrap .content .right .sizes .size.active { background: #333333; }
.stylefive .content-wrap .content .right .sizes .size.active p { color: #ffffff; }
.stylefive .content-wrap .content .right p.blockbutton { padding: 0 0 20px 0; }
.stylefive .content-wrap .content .right p.blockbutton a { display: block; background: orange; padding: 8px 32px; color: #ffffff; text-transform: uppercase; font-weight: 700; border-radius: 5px; }

.stylefive .content-wrap .content .right .concertinas .concertina { margin: 0 0 20px 0; box-sizing: border-box; border-bottom: 1px solid #cccccc; }
.stylefive .content-wrap .content .right .concertinas .concertina .heading { font-size: 105%; font-weight: 700; cursor: pointer; }
.stylefive .content-wrap .content .right .concertinas .concertina .heading p span { float: right; }
.stylefive .content-wrap .content .right .concertinas .concertina .text { display: none; }
.stylefive .content-wrap .content .right .concertinas .concertina .text p { font-size: 90%; }

.stylefive .content-wrap.overlap { position: relative; }
.stylefive .content-wrap.overlap .content { padding: 0 0 20px 0; }
.stylefive .content-wrap .content .features { position: relative; top: -40px; }

.stylefive .content-wrap .content .features .feature { width: 90%; float: left; box-sizing: border-box; border: 1px solid grey; position: relative; margin: 0 0 40px 0; background: rgba(0,77,113,1); border-radius: 10px; }
.stylefive .content-wrap .content .features .feature .image { width: 40%; position: absolute; top: 0; left: 0; height: 100%;  }
.stylefive .content-wrap .content .features .feature .image img {width: 100%; position: absolute; top: 0; left: 0; height: 100%; object-fit: cover; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.stylefive .content-wrap .content .features .feature .text { float: right; width: 60%; }
.stylefive .content-wrap .content .features .feature .text .inner  { box-sizing: border-box; padding: 40px 30px; background: url(images/background.png) no-repeat bottom right; background-size: 30%; }
.stylefive .content-wrap .content .features .feature .text .inner h2  { color: #ffffff; font-size: 300%; }
.stylefive .content-wrap .content .features .feature .text .inner p { color: #ffffff; }

.stylefive .content-wrap .content .features .feature.right { float: right; }
.stylefive .content-wrap .content .features .feature.right .image { left: auto; right: 0; }
.stylefive .content-wrap .content .features .feature.right .image img { left: auto; right: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.stylefive .content-wrap .content .features .feature.right .text { float: left; }

.stylefive .content-wrap .content .cols { position: relative; }
.stylefive .content-wrap .content .cols .left { width: 30%; float: left; }
.stylefive .content-wrap .content .cols .right { width: 30%; float: right; }
.stylefive .content-wrap .content .cols h4 { color: #333333; }
.stylefive .content-wrap .content .cols p {  }
.stylefive .content-wrap .content .cols .image { height: 0; padding-bottom: 20%; background: rgba(0,77,113,1); width: 30%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.stylefive .content-wrap .content .cols .image img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; }

.stylefive .footer-wrap { padding: 0 120px; background: #333333; }
.stylefive .footer-wrap .footer { padding: 20px 0; width: 100%; margin: 0 auto; }
.stylefive .footer-wrap .footer p { padding: 0; color: #ffffff; text-align: center; }

@media only screen and (max-width: 1400px) {

	.stylefive .header-wrap, .stylefive .slides .slide .content, .stylefive .content-wrap, .stylefive .footer-wrap { padding: 0 80px; }

	.stylefive .header-wrap .header .nav ul li { font-size: 90%; }
	.stylefive .header-wrap .header .nav ul li a { padding: 0 10px; }
	.stylefive .header-wrap .header p.blockbutton a { font-size: 90%; }

	.stylefive .slides .slide .content .left h2 { font-size: 200%; }
	.stylefive .slides .slide .content .left p { font-size: 90%; }
}

@media only screen and (max-width: 1180px) {
	.stylefive .content-wrap .content .features .feature { width: 100%; }
}

@media only screen and (max-width: 900px) {
	.stylefive .header-wrap, .stylefive .slides .slide .content, .stylefive .content-wrap, .stylefive .footer-wrap { padding: 0 20px; }
	.stylefive .content-wrap.greybackground { background-size: 50% }

	.stylefive .header-wrap .header .logo { width: 175px; }
	.stylefive .header-wrap .header .logo a { height: 55px; }

	.stylefive .content-wrap .content { padding: 40px 0; }
	.stylefive .content-wrap .content .left { width: 100%; float: none; margin: 0 0 40px 0; }
	.stylefive .content-wrap .content .right { width: 100%; float: none; margin: 0 0 40px 0; }

	.stylefive .content-wrap .content .features .feature .image { width: 100%; position: relative; top: auto; left: auto; height: auto; }
	.stylefive .content-wrap .content .features .feature .image img { position: relative; }
	.stylefive .content-wrap .content .features .feature .text { width: 100%; float: none; }
	.stylefive .content-wrap .content .features .feature .text .inner { background-size: 50%; }

	.stylefive .content-wrap .content .cols .left { width: 50%; float: left; }
	.stylefive .content-wrap .content .cols .right { width: 50%; float: right; }
	.stylefive .content-wrap .content .cols .image { position: relative; top: auto; left: auto; transform: none; padding: 0; height:  auto; width: 100%; background: none; }
	.stylefive .content-wrap .content .cols .image img {  position: relative; top: auto; left: auto; transform: none; width: 100%; height: auto; object-fit: none;  }
}

@media only screen and (max-width: 667px) {

	.stylefive .header-wrap .header .nav, .stylefive .header-wrap .header p.blockbutton { display: none; }

	.stylefive .content-wrap .content .right h2 { font-size: 200%; padding: 0 100px 0 0; }

	.stylefive .slides .slide .content { position: absolute; top: 160px; transform: none; }
	.stylefive .slides .slide .content .left { width: 100%; float: none; margin: 0 0 40px; }
	.stylefive .slides .slide .content .left p.blockbutton { font-size: 90%; }
	.stylefive .slides .slide .content .right { width: 100%; float: none; }
	.stylefive .slides .slide .content .right .image { height: 175px; }
	.stylefive .slides .slide .image .arrow { width: 20px; height: 20px; bottom: 10px; }
}

@media only screen and (max-width: 510px) {
	.stylefive .content-wrap .content .features .feature .text .inner { padding: 20px; }
	.stylefive .content-wrap .content .features .feature .text .inner h2 { font-size: 200%; padding: 0; }

	.stylefive .content-wrap .content .left .boxes { width: 100%; margin-left: 0; }
	.stylefive .content-wrap .content .left .boxes .box { width: 100%; margin: 0 0 20px 0; float: none; }

	.stylefive .content-wrap .content .cols .left { width: 100%; float: none; margin: 0; }
	.stylefive .content-wrap .content .cols .right { width: 100%; float: none; }

}